if SHIELD_KZKSPLIT_LEFT

config ZMK_KEYBOARD_NAME
    default "KZK Split"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_KZKSPLIT_LEFT || SHIELD_KZKSPLIT_RIGHT

config ZMK_SPLIT
    default y

endif