/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors/mouse_keys.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>

&mt {
    flavor = "tap-preferred";
    tapping-term-ms = <200>;
};

&mmv {
};

&msc {
};

/ {
    keymap {
        compatible = "zmk,keymap";

        alpha {
            bindings = <
&kp N1  &kp N2  &kp N3          &kp N4              &kp N5   &kp N6     &kp N7              &kp N8          &kp N9   &kp N0
&kp Q   &kp W   &kp E           &kp R               &kp T    &kp Y      &kp U               &kp I           &kp O    &kp P
&kp A   &kp S   &mt LEFT_ALT D  &mt LEFT_COMMAND F  &kp G    &kp H      &mt LEFT_COMMAND J  &mt LEFT_ALT K  &kp L    &kp SEMI
&kp Z   &kp X   &kp C           &kp V               &kp B    &kp N      &kp M               &kp COMMA       &kp DOT  &kp FSLH
                &kp LEFT_SHIFT  &kp SPACE           &kp RET  &kp LCTRL  &kp SPACE           &to 1
            >;
        };

        navsymbols {
            bindings = <
&kp ESCAPE      &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC       &kp C_VOL_DN   &kp C_VOLUME_UP  &kp BSLH          &kp PLUS          &kp MINUS          &kp ASTRK         &kp FSLH
&kp TAB         &kp HOME              &mt LG(LEFT_SHIFT) K_MUTE  &kp END        &kp PAGE_UP      &kp LESS_THAN     &kp EQUAL         &kp GREATER_THAN   &kp GRAVE         &kp UNDER
&kp LEFT_SHIFT  &kp LEFT              &kp UP                     &kp RIGHT      &kp PAGE_DOWN    &kp AMPS          &kp LPAR          &kp RPAR           &kp LEFT_BRACE    &kp RIGHT_BRACE
&kp LCTRL       &kp CAPSLOCK          &kp DOWN                   &kp BACKSPACE  &kp DEL          &kp PIPE          &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp SINGLE_QUOTE  &kp COLON
                                      &to 0                      &kp LEFT_ALT   &to 2            &kp LEFT_COMMAND  &kp SPACE         &kp RET
            >;
        };

        mousenum {
            bindings = <
&kp ESC         &kp HOME        &kp LALT        &kp END          &kp KP_NUM         &kp KP_ASTERISK  &kp LPAR         &kp RPAR         &trans           &to 4
&kp TAB         &kp LEFT        &kp LSHFT       &kp RIGHT        &kp LGUI           &kp KP_PLUS      &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp C
&msc SCRL_UP    &mmv MOVE_LEFT  &mmv MOVE_UP    &mmv MOVE_RIGHT  &trans             &kp KP_MINUS     &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp SPACE
&msc SCRL_DOWN  &trans          &mmv MOVE_DOWN  &kp BACKSPACE    &kp LG(BACKSPACE)  &kp KP_DIVIDE    &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp RET
                                &to 0           &mkp LCLK        &mkp RCLK          &to 3            &kp KP_NUMBER_0  &kp DOT
            >;
        };

        functionsmedia {
            bindings = <
&kp F1          &kp F2            &kp F3                             &kp F4                                  &kp F5        &kp F6  &kp F7          &kp F8             &kp F9      &kp F10
&kp F11         &kp F12           &kp C_AC_DESKTOP_SHOW_ALL_WINDOWS  &kp C_AC_DESKTOP_SHOW_ALL_APPLICATIONS  &trans        &trans  &trans          &kp C_RANDOM_PLAY  &trans      &trans
&kp LEFT_SHIFT  &kp LEFT_COMMAND  &kp NUMBER_3                       &kp NUMBER_4                            &kp N5        &trans  &kp C_PREVIOUS  &kp C_PLAY_PAUSE   &kp C_NEXT  &trans
&bt BT_SEL 0    &bt BT_SEL 1      &bt BT_SEL 2                       &bt BT_SEL 3                            &bt BT_SEL 4  &trans  &trans          &trans             &trans      &bt BT_CLR
                                  &to 0                              &trans                                  &trans        &trans  &trans          &trans
            >;
        };

        CAD {
            bindings = <
&kp ESC   &trans     &kp D         &kp F          &trans      &kp LG(S)  &kp LG(Z)       &kp LG(LS(Z))     &trans           &trans
&kp TAB   &kp C      &kp R         &kp L          &kp T       &trans     &msc SCRL_UP  &msc SCRL_DOWN  &to 2            &trans
&kp LALT  &kp LSHFT  &kp LEFT_GUI  &mkp MCLK      &kp M       &trans     &mmv MOVE_LEFT  &mmv MOVE_UP      &mmv MOVE_RIGHT  &trans
&kp V     &kp E      &kp I         &kp BACKSPACE  &kp DELETE  &trans     &trans          &mmv MOVE_DOWN    &trans           &trans
                     &to 0         &trans         &kp RET     &trans     &mkp LCLK       &mkp RCLK
            >;
        };
    };
};
